
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #E4E9FD ;
}

#loginPage .form,
#registerPage .form{
    margin: 150px auto;
    width: 400px;
    background: p;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
}

#loginPage .form form,
#registerPage .form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin: 0 0 30px;
    color: #333;
}

#loginPage .form #username,
#loginPage .form #password,
#registerPage .form #Fname,
#registerPage .form #Lname,
#registerPage .form #Email,
#registerPage .form #password,
#registerPage .form #Code{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

#loginPage .form button,
#registerPage .form button{
    margin-top: 5%;
}



#loginPage .form button:hover,
#registerPage .form button:hover {
    background: darkblue;
}

#loginPage .form .forgot-password {
    text-align: center;
    margin-top: 5%;
}

#loginPage .form .forgot-password a {
    color: #1E90FF;
    text-decoration: none;
}

#loginPage .form .forgot-password a:hover {
    text-decoration: underline;
}


#layoutPage .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #6519e7; 
}

#layoutPage .navbar h1{
    font-family: 'Shantell Sans', cursive;
    padding: 1%;

}

#layoutPage .navbar .buttons{
    padding-right: 2%;
    
}



