{% extends "layout.html" %}
{% block main %}
    <div id="mainPage">
        <h1>Events</h1>
        <div class="gallery-container container-fluid">
            <div class="row event-container">
                {% for event in events %}
                    <div class="event col-lg-4">
                        <div class="event-thumbnail">
                            <img src="static/images/{{event.imgLink}}" alt="Event Preview" style='height: 100%; width: 100%; object-fit: cover;'>
                        </div>
                        <div class="event-details">
                            <h2>{{event.name}}</h2>
                            <p>{{event.date}}</p>
                            <p>{{event.location}}</p>
                            {% if current_user.is_organiser %}
                                <p>{{event.capacity}}</p>
                            {% endif %}
                            
                            <a class="btn btn-sm btn-dark" href="/events/{{event.id}}"> View </a>
                        </div>
                {% endfor %}

            </div>
            </div>

        </div>

        


        


    </div>
{% endblock %}
